<div class="d-flex justify-content-center">

    <ng-container *ngIf="!loading">
        <div class="card" style="width: 18rem;">
            <img src="{{ product?.image }}" class="card-img-top custom-card-img" alt="{{product?.title}}">
            <div class="card-body">
                <h5 class="card-title ">{{ product?.title | uppercase }}</h5>
                <h6 class="card-subtitle card-subtitle mb-2" [ngStyle]="{'color': color}">{{
                    product?.price | currency }} </h6>
                <p class="card-text">{{ product?.description }}</p>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="loading">
        <i style="color: blue;"> Loading...</i>
    </ng-container>
</div>