<h1>Productos de Limpieza:</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <!-- Estructura de control ngFor para recorrer productsList y generar las filas de la tabla dinámicamente -->
        <tr *ngFor="let product of productsList">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <!-- Uso de [ngClass] para modificar la clase CSS del precio si su valor es mayor a 5 -->
            <td [ngClass]="{'red': product.price > 5}">{{ product.price | currency}}</td>
            <td>
                <button class="btn btn-outline-primary" [routerLink]="['/products', product.id]">Detalle</button>
            </td>
        </tr>
    </tbody>
</table>